@import "./reset.css";

body {
  margin: 0 auto;

  background-color: #4682a9;
}

main {
  background-color: #4682a9;
  height: 1080px;
}

.contents {
  width: 512px;
  min-height: 768px;
  border-radius: 28px;
  background-color: #fff;
  margin: 50px auto;
  position: relative;
}

/* 헤더 */

.contentHeader {
  padding: 48px 32px 24px;
  border-bottom: 1px solid rgb(233, 236, 239);
}

#currentDate {
  font-size: 36px;
  font-weight: 600;
}

#currentDay {
  margin-top: 4px;
  color: rgb(134, 142, 150);
  font-size: 21px;
}

.contentHeader h3 {
  color: rgb(145, 200, 228);
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
}

/* To Do List */

.toDoList {
  padding: 32px;
}

.toDo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.toDo:hover > .removeBtn {
  display: block;
}

.toDo p {
  flex: 1 1 0%;
  font-size: 21px;
  margin: 0 10px;
}

.checkBtn {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: url(../images/iconizer-check-solid.svg) no-repeat center / 90%;
}

.checkBtn:hover {
  background-image: url(../images/iconizer-check-solid-hover.svg);
}

.removeBtn {
  display: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background: url(../images/iconizer-trash-solid.svg) no-repeat center / 90%;
}

.removeBtn:hover {
  background-image: url(../images/iconizer-trash-solid-hover.svg);
}

.do {
  color: rgb(134, 142, 150);
  text-decoration: line-through;
}

/* 할일 입력 인풋 */

.toDoAdd {
  width: 100%;
  background-color: #f6f4eb;
  height: 150px;
  position: absolute;
  bottom: 0;
  padding: 32px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
}

.addInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toDoAdd #toDoTitle {
  border: none;
  flex: 1 1 0%;
  margin: 0 15px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid rgb(222, 226, 230);
  outline: none;
  font-size: 18px;
}

#toDoAddBtn {
  border-radius: 50%;
  background: #f6f4eb url(../images/iconizer-plus-solid-addinput.svg) no-repeat
    center / 100%;
  width: 45px;
  height: 45px;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
